
	.name{
		width:1220px;
		height:220px;
		background-color:lightblue;
		opacity:0.9;
		box-shadow:2px 2px 5px blue,2px 2px 5px black;
		color:brown;
		margin:10px;
		text-shadow:2px 2px 5px black,2px 2px 5px blue;
	}
	.tabl{
		padding:15px;
		background-color:#5f6769;
		border-collapse:collapse;
	}
	#tab{
		padding:15px;
		background-color:transparent;
		border:1px solid black;
		border-collapse:collapse;
	}
	.mydiv{
		width:"100%";
		height:150px;
		background-color:aqua;
		column-count:3;
		column-rule:1px solid green;
		}
		.tsc{
			width:"100%";
			height:60px;
			background-color:lightgreen;
			opacity:0.7;
			text-shadow:2px 2px 5px black;
			box-shadow:2px 2px 5px green;
		}
		a{
			color:lightgreen;
			font-size:20px;
			text-decoration:underline;
		}

		a:hover{
                  color:red;
                  font-size:30px;
		}	
		a:active 
			{
					color:green;
			}
		.para{
			color:orange;
			text-decoration:underline;
			font-size:40px;
		}
		.login{
			background-color:lightgreen;
			border:1px solid brown;
			border-radius:2px;
  			width:450px;
  			height:220px;
		}
		#logo{
			background-image:url("aktu.jpg");
			background-repeat:no-repeat;
			background-position:center top;
			opacity:0.9;
			height:"100%";
			width:"100%";
	     }
	     #search{
	     	text-align:right;
	     }
	     body{
	     	background-color:transparent;
	         }
	         .drop{
	         	background-color:#5f6769;
	         	color:black;
	         	padding:15px;
	         	border:none;
	         	font-size:10px;
	         	position:relative;
	         	display:inline;
	         }
	         .dropdown{
	         	background-color:#5f6769;
	         	color:white;
	         	font-size:11px;
	         	width:120px;
	         	height:40px;
	         	margin:auto;
	         	padding:0;
	         	border:1px;
	         }
	         .drop-content{
	         	display:none;
	         	position:absolute;
	         	background-color:#5f6769;
	         	font-size:10px;
	         	z-index:1;
	         }
	         .drop-content a{
	         	color:white;
	         	margin:auto;
	         	padding:8px 5px;
	         	display:block;
	         	font-size:16px;
	         	width:100%;
	         }
	         .drop-content a:hover{
	         	background-color:#8186d5;
	         	font-size:18px;
	         }
	         .drop:hover .drop-content{
	         	display:block;
	         	font-size:16px;

	         }
	         .drop:hover .dropdown{
	         	background-color:black;

	         }

	     